/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}



/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Urbanist", sans-serif;
}


:root{
	--background-default: #fafafa;
	--action-main:rgba(14, 13, 15, 0.64);
	--action-main-svg:rgba(14, 13, 15);
	--divider-main:rgba(14, 13, 15, 0.08);
	--text-primary:rgba(14, 13, 15, 1);
	--secondary-48 : rgba(250, 250, 250, 0.48);
	--white-contrast : #0A090A;
	--purple-main: #6F76C0;
}

.dark-mode-gemstore{
	--background-default: #0e0d0f;
	--action-main:rgba(255, 255, 255, 0.64);
	--action-main-svg:rgba(255, 255, 255);
	--divider-main:rgba(255, 255, 255, 0.08);
	--text-primary:rgba(255, 255, 255, 1);
	--secondary-48 : rgba(14, 13, 15, 0.60);
	--white-contrast : #fff;
}

.dark-mode-gemstore .wp-block-blocks-gamestore-block-header .inner-header .wp-block-group .wp-block-navigation .wp-block-navigation__container .wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle + .wp-block-navigation__submenu-icon {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M8.47021 10.7402L12.0002 14.2602L15.5302 10.7402" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
}

